
/* Your CSS Code here. */
  body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        td,tr{
			border:solid
		}
			 
        }

        th {
            background:#a6281c;
        }
             #q{
				 background:#a62
				  border: solid;
            padding: 8px;
            text-align: left;
			 
			 }
            #w{
				 background:#c9bbb9;
			 }
           #e{
				 background:#a6281c;
			 }
            #r{
				 background::#a6281c;
			 }